body { padding-top: 70px; background: url('../img/gplaypattern.png');}

th {
  text-align: left;
}

.hidden { display: none;}
.center { text-align: center;}
.error {color: red}

.orange_btn {
  background: #ffc578;
  background: -moz-linear-gradient(top,  #ffc578 0%, #fb9d23 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffc578), color-stop(100%,#fb9d23));
  background: -webkit-linear-gradient(top,  #ffc578 0%,#fb9d23 100%);
  background: -o-linear-gradient(top,  #ffc578 0%,#fb9d23 100%);
  background: -ms-linear-gradient(top,  #ffc578 0%,#fb9d23 100%);
  background: linear-gradient(to bottom,  #ffc578 0%,#fb9d23 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc578', endColorstr='#fb9d23',GradientType=0 );
  border: 1px solid rgb(233, 166, 81);
  color: white;
  text-shadow: 0 -1px 0 #9E6131;
  border-radius: 5px;
  font-family: Verdana;
}

.orange_btn:hover {
  background: #fb9d23;
  background: -moz-linear-gradient(top,  #fb9d23 0%, #ffc578 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fb9d23), color-stop(100%,#ffc578));
  background: -webkit-linear-gradient(top,  #fb9d23 0%,#ffc578 100%);
  background: -o-linear-gradient(top,  #fb9d23 0%,#ffc578 100%);
  background: -ms-linear-gradient(top,  #fb9d23 0%,#ffc578 100%);
  background: linear-gradient(to bottom,  #fb9d23 0%,#ffc578 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fb9d23', endColorstr='#ffc578',GradientType=0 );
  text-shadow: 0 1px 0 #D8A57C;
}

.navbar-nav li span { color: #eee; line-height: 48px; margin-right:20px;}
#logout_btn { background: none; border: 0; margin-top: 12px; color: #999;}
#logout_btn:hover { color: #eee;}

#login, #logout {
  float: left;
  width: 45%;
  background-color: #f8f8f8;
  border: 1px solid #e7e7e7;
  font-family: Verdana, sans-serif;
  text-align: center;
  margin: 0 1%;
  padding: 2%;
  border-radius: 10px;
  box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
}

