.card {
  width: 275px;
  height: 400px;
  display: block;
  border: 1px solid rgba(0,0,0,0.3);
  text-align: center;
  box-shadow: 0px 4px 2px rgba(0,0,0,0.2);
  border-radius: 10px;
  background: rgb(25, 129, 187);
  margin: 20px auto 0;
}

.inner-card {
  width: 245px;
  height: 370px;
  background: white;
  margin: 13px auto;
  border-radius: 10px;
  padding: 10px;
}

.card_decks {
  width: 245px;
  height: 370px;
  background: white;
  margin: 13px auto;
  border-radius: 10px;
  padding: 10px;
  list-style-type: none;
}

#next_question {
  margin: 20px auto 10px;
  width: 128px;
}

#answer_box {
  width: 286px;
  margin: 20px auto 10px;
}
