.card_container {
  width: 275px;
  height: 400px;
  position: relative;
  margin: 0 auto 40px;
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  -o-perspective: 800px;
  perspective: 800px;
}

#card {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 10px;
  -webkit-transition: -webkit-transform 1s;
  -moz-transition: -moz-transform 1s;
  -o-transition: -o-transform 1s;
  transition: transform 1s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

#card figure {
  display: block;
  height: 100%;
  width: 100%;
  line-height: 24px;
  text-align: center;
  font-weight: bold;
  font-size: 12px;
  position: absolute;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}

#card .front {
  background: white;
  padding: 20px;
  border-radius: 10px;
  border: 15px solid rgb(5, 91, 158);
}

#card .back {
  background: white;
  padding: 20px;
  border-radius: 10px;
  border: 15px solid rgb(5, 91, 158);
  -webkit-transform: rotateY( 180deg );
  -moz-transform: rotateY( 180deg );
  -o-transform: rotateY( 180deg );
  transform: rotateY( 180deg );
}

body#body_2 #card .back, body#body_2 #card .front{
  border: 15px solid rgb(121, 0, 0);
}

#card.flipped {
  -webkit-transform: rotateY( 180deg );
  -moz-transform: rotateY( 180deg );
  -o-transform: rotateY( 180deg );
  transform: rotateY( 180deg );
}

.card {
  width: 275px;
  height: 400px;
  display: block;
  border: 1px solid rgba(0,0,0,0.3);
  text-align: center;
  box-shadow: 0px 4px 2px rgba(0,0,0,0.2);
  border-radius: 10px;
  background: rgb(25, 129, 187);
  margin: 20px auto 0;
}

.inner-card {
  width: 245px;
  height: 370px;
  /*background: white;*/
  /*margin: 13px auto;*/
  border-radius: 10px;
  /*padding: 10px;*/
}

#card_decks li {
  width: 275px;
  height: 400px;
  background: white;
  margin: 13px 20px;
  float: left;
  list-style-type: none;
  box-shadow: 3px 5px 8px rgba(0,0,0,0.4);
  position: relative;
}

#card_decks li:hover {
  top: -1px;
}

#next_question {
  margin: 20px auto 10px;
  width: 114px;
}

#answer_box {
  width: 286px;
  margin: 20px auto 10px;
}

body#body_2 #score { color: white; font-size: 20px; text-shadow: 1px 1px 1px #000;}

body#body_2 .orange_btn {
  background: rgb(248,80,50);
  background: -moz-linear-gradient(top,  rgba(248,80,50,1) 0%, rgba(241,111,92,1) 50%, rgba(246,41,12,1) 51%, rgba(240,47,23,1) 71%, rgba(231,56,39,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(248,80,50,1)), color-stop(50%,rgba(241,111,92,1)), color-stop(51%,rgba(246,41,12,1)), color-stop(71%,rgba(240,47,23,1)), color-stop(100%,rgba(231,56,39,1)));
  background: -webkit-linear-gradient(top,  rgba(248,80,50,1) 0%,rgba(241,111,92,1) 50%,rgba(246,41,12,1) 51%,rgba(240,47,23,1) 71%,rgba(231,56,39,1) 100%);
  background: -o-linear-gradient(top,  rgba(248,80,50,1) 0%,rgba(241,111,92,1) 50%,rgba(246,41,12,1) 51%,rgba(240,47,23,1) 71%,rgba(231,56,39,1) 100%);
  background: -ms-linear-gradient(top,  rgba(248,80,50,1) 0%,rgba(241,111,92,1) 50%,rgba(246,41,12,1) 51%,rgba(240,47,23,1) 71%,rgba(231,56,39,1) 100%);
  background: linear-gradient(to bottom,  rgba(248,80,50,1) 0%,rgba(241,111,92,1) 50%,rgba(246,41,12,1) 51%,rgba(240,47,23,1) 71%,rgba(231,56,39,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#e73827',GradientType=0 );
  font-size: 14px;
  border: 1px solid rgb(121, 0, 0);;
}
body#body_2 .orange_btn:hover {
background: rgb(231,56,39);
background: -moz-linear-gradient(top,  rgba(231,56,39,1) 0%, rgba(240,47,23,1) 29%, rgba(246,41,12,1) 49%, rgba(241,111,92,1) 84%, rgba(248,80,50,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(231,56,39,1)), color-stop(29%,rgba(240,47,23,1)), color-stop(49%,rgba(246,41,12,1)), color-stop(84%,rgba(241,111,92,1)), color-stop(100%,rgba(248,80,50,1)));
background: -webkit-linear-gradient(top,  rgba(231,56,39,1) 0%,rgba(240,47,23,1) 29%,rgba(246,41,12,1) 49%,rgba(241,111,92,1) 84%,rgba(248,80,50,1) 100%);
background: -o-linear-gradient(top,  rgba(231,56,39,1) 0%,rgba(240,47,23,1) 29%,rgba(246,41,12,1) 49%,rgba(241,111,92,1) 84%,rgba(248,80,50,1) 100%);
background: -ms-linear-gradient(top,  rgba(231,56,39,1) 0%,rgba(240,47,23,1) 29%,rgba(246,41,12,1) 49%,rgba(241,111,92,1) 84%,rgba(248,80,50,1) 100%);
background: linear-gradient(to bottom,  rgba(231,56,39,1) 0%,rgba(240,47,23,1) 29%,rgba(246,41,12,1) 49%,rgba(241,111,92,1) 84%,rgba(248,80,50,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e73827', endColorstr='#f85032',GradientType=0 );
text-shadow: 0;
}

body#body_2 input {
  font-size: 14px;
}

#chuck_h1 {
color: white;
font-size: 90px;
font-family: 'Allerta Stencil', 'sans-serif';
text-transform: uppercase;
font-weight: bold;
text-shadow: 1px 4px 1px rgb(121, 0, 0);
margin-bottom: 100px;
}

#score {margin: 25px 0;}

/*#chuck_h2 {
color: white;
font-size: 40px;
font-family: 'Allerta Stencil', 'sans-serif';
text-transform: uppercase;
font-weight: bold;
text-shadow: 1px 4px 1px rgb(121, 0, 0);
margin-bottom: 60px;
}*/
