<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <!-- <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet"> -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">
  <link rel="stylesheet" href="/css/cards.css">
  <link href="/css/bootstrap.min.css" rel="stylesheet">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top " role="navigation">
  <div class="container">
    <a class="navbar-brand" href="/">Flash Cards</a>
    <ul class="nav navbar-nav navbar-right">
    <% if session[:user_id] %>
      <li><span>Hello, <%= session[:name] %></span></li>
      <% @user_score = User.find(session[:user_id]).score %>
      <li><span>Score: <%= @user_score %></span></li>
      <li><form method="get" action="/show_all_results">
        <input type="submit" value="Show all Results" id="results_btn"></li>
      <li><form method="post" action="/logout">
        <input type="submit" value="Logout?" id="logout_btn">
      </form></li>

      <% else %>

        <li><a href="/login" title="login">Login</a></li>

    <% end %>
    </ul>
  </div>
</nav>


  <%= yield %>
</body>
</html>
