<div class="container">
  <h1>Welcome to a moderately functioning FlashCard Game!</h1>
  <p>Let's play!</p>
  <br>
  <p>Login to start:</p>
  <br>
    <form method="post" action="/login">
      Email: <input type="text" name="email">
      Password: <input type="password" name="password">
      <input type="submit" value="Login">
    </form>
  <br>
  <br>
  <p>Or Create a new user! </p>
  <form method="post" action="/sign_up">
    Name: <input type="text" name="name">
    Email: <input type="text" name="email">
    Password: <input type="password" name="password">
    <input type="submit" value="Sign Up!">
  </form>



</div>
